.DS_Store
node_modules
.idea


############################
# Strapi
############################

.env
license.txt
exports
*.cache
dist
build
.strapi-updater.json

############################
# Yarn Berry
############################

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
